name: Test Python

on:
  push:
    branches:
      - "**"

concurrency:
  group: "${{ github.workflow }}-${{ github.ref }}"
  cancel-in-progress: true

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    # Python & dependency installation
    - uses: actions/checkout@v3
    - name: setup Python 3.10
      uses: actions/setup-python@v4
      with:
        python-version: "3.10"
    - name: install Poetry
      uses: snok/install-poetry@v1.3.3
    - name: install dependencies
      run: poetry install
    - name: lint with flake8
      run: poetry run flake8 --show-source --statistics .
    - name: lint with black
      run: poetry run black --check --diff .
